---
title: EGY, Discutez et reduisez votre facture d'éléctricité
---

<div class="banner">

      <div class="container">
        <div class="navbar">
          <div class="egy">
            <%= image_tag "egy-logo.svg", id: "logo" %>
            <h1 id="logo">EGY</h1>
          </div>
          <a href="#concept" class="nav-list">le concept</a>
          <a href="#comment" class="nav-list">Comment ça marche ?</a>
          <a href="https://www.facebook.com/egybotNC/" class="btn">ESSAYEZ</a>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-sm-6 col-xs-12 xpadded">
              <h1 class="reverse">DISCUTEZ AVEC EGY ET REDUISEZ
              VOTRE FACTURE D’ELECTRICITÉ</h1>
              <h2 class="reverse">Changez vos habitudes<br>
              Adoptez les bons gestes</h2>
              <br>
              <a class="typeform-share button" href="https://jeremyjodeau1.typeform.com/to/TeO5so" data-mode="drawer_right" style="display:inline-block;text-decoration:none;background-color:#46ce92;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:18px;line-height:45px;text-align:center;margin:0;height:45px;padding:0px 30px;border-radius:5px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">ETRE INFORME DU LANCEMENT</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
              <p class="reverse" id="pban">Ou <%= mail_to 'jeremy.jodeau@yahoo.fr', "demandez",:id => "email" %> une demo</p>
            </div>
            <div class="col-sm-6 col-xs-12 align-center">


              <div class="msg-container">
                <div class="msg-content w-100 relative">
                  <div id="msg1" class="msg-receive dib">Bonjour EGY 🙂</div>
                  <div id="msg2" class="msg-send dib">Bonjour Laurent, Je suis EGY et je vais <b>t’aider</b> à réduire ta facture d'électricité en <b>te donnant des conseils</b>.
                  On commence ?</div>
                  <div id="msg3" class="msg-receive dib  bg-message">OUI ! </div>
                  <div id="msg4" class="msg-send dib">Bravo, je viens de lier ton compte -fournisseur d'éléctricité-. Je vais pouvoir diagnostiquer ta consommation.</div>
                  <div id="msg5" class="msg-send dib  bg-message">Laurent, tu consommes <b>10% de plus qu'un foyer équivalent.</b></div>
                  <div id="msg6" class="msg-receive dib"><span class="f3">Aïe, Sais-tu pourquoi ? Que puis-je faire ?</span></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="wave">
      <%= image_tag "egywave.png", id: "wavy" %>
    </div>

    <div class="container xpadded full" id="concept">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1 class="title">AGISSEZ POUR <span>LA NOUVELLE CALEDONIE</span></h1>
          <h2 class="title">EGY analyse votre consommation et vous aide à adopter les bons gestes</h2>
        </div>
      </div>
      <div class="row padded">
        <div class="col-sm-6 col-xs-12">
          <%= image_tag "ncmap.png", id: "wavy" %>
        </div>
        <div class="col-sm-6 col-xs-12">
          <ul>
            <li>Ma facture d’éléctricité est élévée, pourquoi ?</li>
            <li>Allumer et eteindre la climatisation, cela surconsomme ?</li>
            <li>Que faire avec mes appareils en veille ? Dois-je les débrancher ?</li>
            <li>Mes appareils éléctromenager sont-ils énergivores ?</li>
            <li>Comment puis-je consommer plus responsable ?</li>
          </ul>
          <br><br>
          <h1><span>EGY</span> REPOND A VOS QUESTIONS</h1>
        </div>
      </div>
    </div>

    <div class="container xpadded full" id="comment">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1 class="title">COMMENT CA MARCHE ?</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-12 text-center">
          <h1>1</h1>
          <i class="fa fa-area-chart fa-4" aria-hidden="true"></i>
          <h2>Une fois identifié, obtenez un <b>bilan personalisé et comparé</b> de votre consommation</h2>
        </div>
        <div class="col-sm-4 col-xs-12 text-center">
          <h1>2</h1>
          <i class="fa fa-lightbulb-o fa-4" aria-hidden="true"></i>
          <h2><b>Défiez</b> vos habitudes et <b>apprennez</b> à mieux consommer</h2>
        </div>
        <div class="col-sm-4 col-xs-12 text-center">
          <h1>3</h1>
          <i class="fa fa-bell-o fa-4" aria-hidden="true"></i>
          <h2>Soyez <b>alerté</b> des periodes de surconsommation et agissez en temps réel</h2>
        </div>
      </div>
    </div>

    <div class="container xpadded full">
      <div class="row">
        <div class="col-xs-12 text-center padded">
          <h1 class="title">Le suivi de votre<span> consommation d'éléctricité</span></h1>
          <h2 class="title">EGY analyse votre consommation et vous aide à adopter les bons gestes</h2>
        </div>
      </div>
      <div class="row padded">
        <div class="col-sm-6 col-xs-12 text-center">
          <h2 class="before">Avant c'était ...</h2>
          <div class="xpadded">
            <%= image_tag "egy-courrier.svg" %>
            <p class="before">Un courrier</p>
          </div>
          <div class="xpadded">
            <%= image_tag "egy-facture.svg" %>
            <p class="before">Une facture <br>difficile à comprendre</p>
          </div>

        </div>
        <div class="col-sm-6 col-xs-12 text-center">
          <h2>Maintenant, c'est ...</h2>
          <div class="xpadded">
            <%= image_tag "egy-notif.svg" %>
            <p>Des notifications <br> sur vos consommations</p>
          </div>
          <div class="xpadded">
            <%= image_tag "egy-solution.svg" %>
            <p>Un bilan personalisé et comparé <br>Des conseils adaptés</p>
          </div>
        </div>
      </div>
    </div>
